@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --desktopNavHeight: 56px;

    --primary-color: #a62117;
    --secondary-color: #353e42;
    --ui-primary-font-color: #191919;
    --ui-dark-grey: #191919;
    --ui-medium-grey: #575757;
    
  }
}